<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to the GUGS DB</title>
      {% endif %}
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>
                  {{message}}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <h1>Welcome to the GUGS DB!</h1>
        <!-- <div>Movie DB: <a href="/fetch_table">Full Results</a></div> -->
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>